get feedback about the call (time, if want followup)

Before we wrap up, how'd the call go?
How long did they put you on hold? [dropdown]
Did you talk to the politician or to a staffer? [dropdown]
Do you want us to contact with you with further updates about this issue? Email: _____________

Share this call: <button>#swampthedrains</button>

And wash your hands! Politics is dirty business.
