@import url('https://fonts.googleapis.com/css?family=Lemon|Open+Sans');

* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}


body {
  background-color: #c2c2c2;
  color: #434343;
  font-family: 'Open Sans', sans-serif;
}

header, main {
  margin: 0 auto;
  width: 600px;
}

header {
  text-align: center;
}
header a {
  font-family: 'Lemon', cursive;
  color: #795548;
  text-decoration: none;
}
header a:hover {
  color: #434343;
  text-decoration: none;
}

a {
  color: #434343;
}

a:hover {
  color: #795548;
}

@media screen and (max-width: 599px) {
  header, main {
    width: 100%;
  }
}
