<div class="followup-form">
  <form class="followup" method="put" action="/issues/<%= @issue.id %>/politicians/<%= @politician.id %>/poops/<%= @poop.id %>">
    <input type="hidden" name="_method" value="put">
    Before we wrap up, how'd the call go?
    How long did they put you on hold? [dropdown]
    Did you talk to the politician or to a staffer? [dropdown]
    Do you want to be texted or emailed with the results of this vote?
    Email:
    phone for texting:
  </form>
</div>




after form submission:
Share this call: <button>#swampthedrains</button>

And wash your hands! Politics is dirty business.
